[submodule "modules/Entity_Storage"]
	path = modules/Entity_Storage
	url = https://github.com/rezich/Entity_Storage
[submodule "modules/Entity_Storage/Entity_Storage"]
	path = modules/Entity_Storage/Entity_Storage
	url = https://github.com/rezich/Entity_Storage.git
